<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add the two numbers</title>
    <link href="../style/calc.css" rel="stylesheet" type="text/css">
</head>
<body>

<div>

    <form action="cal3" method="post">
        <table>
            <tr>
                <td class="output" colspan="4">0</td>
            </tr>
            <tr>
                <td><input type="submit" name="opBtn" value="CE"/></td>
                <td><input type="submit" name="opBtn" value="C"/></td>
                <td><input type="submit" name="opBtn" value="Back"/></td>
                <td><input type="submit" name="opBtn" value="/"/></td>
            </tr>
            <tr>
                <td><input type="submit" name="num" value="7"/></td>
                <td><input type="submit" name="num" value="8"/></td>
                <td><input type="submit" name="num" value="9"/></td>
                <td><input type="submit" name="opBtn" value="*"/></td>
            </tr>
            <tr>
                <td><input type="submit" name="num" value="4"/></td>
                <td><input type="submit" name="num" value="5"/></td>
                <td><input type="submit" name="num" value="6"/></td>
                <td><input type="submit" name="opBtn" value="-"/></td>
            </tr>
            <tr>
                <td><input type="submit" name="num" value="1"/></td>
                <td><input type="submit" name="num" value="2"/></td>
                <td><input type="submit" name="num" value="3"/></td>
                <td><input type="submit" name="opBtn" value="+"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="num" value="0"/></td>
                <td><input type="submit" name="dot" value="."/></td>
                <td><input type="submit" name="opBtn" value="="/></td>
            </tr>
        </table>

    </form>



</div>

</body>
</html>