<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add the two numbers</title>
</head>
<body>

<div>

    <form action="cal2" method="post">

        <div>
            <label>Type the numbers</label><br>
           <!-- <input type="text" name="num" /> <input type="text" name="num" /> <input type="text" name="num" /> <input type="text" name="num" /> -->
            <input type="text" name="value" />
        </div>
        <br>
        <div>
            <input type="submit" name="opBtn" value="+" />
            <input type="submit" name="opBtn" value="-" />
            <input type="submit" name="opBtn" value="=" />
        </div>

    </form>



</div>

</body>
</html>